# procedure oriented

In [2]:
name=input("Name:")
city=input("City :")
print(f"{name} from {city}")

Name: Amruta
City : Ahmednagar

Amruta from Ahmednagar

# function oriented

In [2]:
def get_name():
    return input("Name: ")

def get_city():
    return input("city:")

def display(name,city):
    print(f"{name} from {city}")

In [4]:
name=get_name()

Name:  karishma

In [5]:
city=get_city()

city: pune

In [6]:
display(name,city)

karishma from pune

In [7]:
name:get_name()
city:get_city()
display(name,city)

Name:  karishma
city: pune

karishma from pune

# modularizes gettings student's name and city

In [8]:
def main():
    name=get_name()
    city=get_city()
    print(f"{name} from {city}")

def get_name():
    return input("Name: ")
def get_city():
    return input("city: ")

In [9]:
main()

Name:  Amruta
city:  Ahilyanagar

Amruta from Ahilyanagar

In [10]:
def main():   #search for main definition step 2
    name, city = get_student()    #student function got called step 3
    print(f"{name} from {city}")

def get_student():   # look for definition of get_student() step 4
    name=input("Name: ")
    city=input("City: ")
    return name, city

In [12]:
main()  #made a call to main() function

Name:  pooja
City:  pune

pooja from pune

# returns student as tuple, unpacking it

In [1]:
def main():
    name,city = get_student()
    print(f"{name} from {city}")

def get_student():
    name=input("Name : ")
    city=input("City : ")
    return (name,city)

In [2]:
main()

Name :  Amruta
City :  Nagar

Amruta from Nagar

# Demonstrates student as tuple, without unpacking it

In [5]:
def main():
    student = get_student()
    print(f"{student[0]} from {student[1]}")

def get_student():
    name=input("Name : ")
    city=input("City : ")
    return (name,city)

In [6]:
main()

Name :  Suvarna
City :  pune

Suvarna from pune

# Demonstrates immutability of tuples, remove parenthesis

In [7]:
def main():
    student = get_student()
    if student[0]=="Amruta":
        student[1]="Nagar"
    print(f"{student[0]} from {student[1]}")

def get_student():
    name=input("Name : ")
    city=input("City : ")
    return name, city

In [8]:
main()

Name :  Amruta
City :  pune

TypeError: 'tuple' object does not support item assignment

# stores student as (mutable) list:

In [9]:
def main():
    student=get_student()
    if student[0]=="Amruta":
        student[1]="Nagar"
    print(f"{student[0]} from {student[1]}")

def get_student():
    name = input("Name : ")
    city = input("City :")
    return [name,city]

In [10]:
main()

Name :  Amruta
City : pune

Amruta from Nagar

# Demonstrates student using dictionary

In [23]:
def main():
    student=get_student()
    print(f"{student['Name']} from {student['city']}") 

def get_student():
    student = {}
    student["Name"]=input("Name :")
    student["city"]=input("City :")
    return student

In [24]:
main()

Name : Amruta
City : pune

Amruta from pune

# Eliminates unneeded variable

In [25]:
def main():
    student = get_student()
    print(f"{student["name"]} from {student["city"]}")

def get_student():
    name=input("name: ")
    city=input("city: ")
    return {"name" : name, "city" : city}

In [26]:
main()

name:  Amruta
city:  nagar

Amruta from nagar

# Demonstrates Mutability of dictionary

In [27]:
def main():
    student = get_student()
    if student["name"]=="Amruta":
        student["city"]="Nagar"
    print(f"{student["name"]} from {student["city"]}")

def get_student():
    name=input("Name:")
    city=input("City:")
    return {"name":name, "city":city}

In [28]:
main()

Name: Amruta
City: pune

Amruta from Nagar